.pageContainer {
    height: 100vh;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Centrera innehållet vertikalt om det behövs */
    align-items: center;
    /* Exempel på bakgrundsfärg */
    box-sizing: border-box;
}

.mainContent {
    margin: 20px;
    /* Exempel på en allmän margin */
    padding: 50px;
    /* Eventuell padding om du vill ha mer avstånd från kanten */
    box-sizing: border-box;
    /* Säkerställer att padding och border räknas med i totalstorleken */
    width: 90%;
    /* Gör att main-elementet tar upp hela bredden */
}